.merchant-panel {
  width: 100%;
  max-width: 50rem;
  background-color: #fff200;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  overflow: hidden;

  .merchant-panel__item-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    padding: 0.75rem;
    .item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: radial-gradient(
        circle farthest-corner at center center,
        #343000 0%,
        #cbba00 100%
      );
      background: -webkit-radial-gradient(
        circle farthest-corner at center center,
        #343000 0%,
        #cbba00 100%
      );
      background: -moz-radial-gradient(
        circle farthest-corner at center center,
        #343000 0%,
        #cbba00 100%
      );
      width: 8.5rem;
      height: 8.5rem;
      border: 6px outset #343000;
      border-radius: 1.75rem;

      .item__price {
        color: #ffffff;
      }

      button {
        background-color: #238e00;
        color: #ffffff;
        cursor: pointer;
        border: 2px outset #32c700;
        border-radius: 5px;
        padding: 2px;
      }
    }
  }
}
