.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-size: 1.8rem;
  }

  > p {
    margin-right: 1rem;
  }
}

.mining-tile {
  cursor: pointer;
}

.mining-tile:active {
  transform: scale(1.05);
}
