@use "@/styles/panels/ResourcesPanel.scss";
@use "@/styles/panels/MerchantPanel.scss";
@use "@/styles/panels/VendorPanel.scss";
@use "@/styles/panels/StructuresPanel.scss";
@use "@/styles/panels/HQPanel.scss";

.panel {
  .panel__header {
    display: flex;
    align-items: center;

    button {
      margin-left: auto;
      padding: 0.5rem;
      cursor: pointer;
    }
  }

  .merchant-panel__header,
  .vendor-panel__header {
    gap: 0.5rem;
    button {
      margin-left: 0;
    }
  }

  .item__empty {
    font-size: 4rem;
    color: #bbbbbbe8 !important;
  }
}

.app-body .panel {
  display: flex;
  flex-direction: column;
}
