.panel {
  .panel__header {
    display: flex;
    align-items: center;

    button {
      margin-left: auto;
      padding: 0.5rem;
      cursor: pointer;
    }
  }

  .merchant-panel__header,
  .vendor-panel__header {
	gap: 0.5rem;
    button {
      margin-left: 0;
    }
  }

  .ore__empty,
  .item__empty {
    font-size: 5rem;
    color: #bbbbbbe8 !important;
  }
}

.app-body .panel {
  display: flex;
  flex-direction: column;
}

.resources-panel {
  width: 30rem;

  .resources-panel__section {
    position: relative;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    height: 3rem;
    background: linear-gradient(180deg, #00aaff, #2100c8);
    color: #ffffff;

    p {
      display: flex;
      align-items: center;
      gap: 4px;
	  width: 4rem;
    }

    button {
      position: absolute;
      top: 0;
      right: 0;
      color: #ffffff;
      background: none;
      border: none;
      padding: 0.5rem;
      margin: 0;
      height: 100%;

      &:hover {
        transform: scale(1.1);
        transition: transform 0.2s;
        cursor: pointer;
      }
    }
  }

  .resources-panel__section:last-child {
    border-bottom-right-radius: 18px;
  }
}

.mining-panel {
  background-color: #a96e00;
  width: fit-content;

  .mining-panel__ore-container {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    .ore,
    .ore__empty {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #342200;
      background: radial-gradient(
        circle farthest-corner at center center,
        #342200 0%,
        #a26a00 100%
      );
      background: -webkit-radial-gradient(
        circle farthest-corner at center center,
        #342200 0%,
        #a26a00 100%
      );
      background: -moz-radial-gradient(
        circle farthest-corner at center center,
        #342200 0%,
        #a26a00 100%
      );
      width: 10rem;
      height: 10rem;
      border: 7px outset #583900;
      border-radius: 50%;
    }
  }
}

.smelting-panel {
  background-color: #be5217;
  width: fit-content;

  .smelting-panel__alloy-container {
    display: flex;
    padding: 1rem;
    .alloy {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: linear-gradient(0, #341500 0%, #a23600 100%);
      background: -webkit-linear-gradient(0, #341500 0%, #a23600 100%);
      background: -moz-linear-gradient(0, #341500 0%, #a23600 100%);
      width: 10rem;
      height: 10rem;
      border-width: 7px;
      border-style: outset;
      border-color: #341500;
      border-top-right-radius: 2rem;
      border-bottom-right-radius: 2rem;
      border-left: none;
    }

    .alloy-recipe {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem;
      border-width: 7px;
      border-style: outset;
      border-color: #341500;
      border-top-left-radius: 2rem;
      border-bottom-left-radius: 2rem;
      border-right: none;
      color: #ffffff;
      background: linear-gradient(180deg, #341500 0%, #a23600 100%);
      background: -webkit-linear-gradient(180deg, #341500 0%, #a23600 100%);
      background: -moz-linear-gradient(180deg, #341500 0%, #a23600 100%);

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
      }
    }
  }
}

.merchant-panel {
  position: absolute;
  right: 0;
  width: 45rem;
  animation: slideInRight 0.5s;
  background-color: #fff200;

  .merchant-panel__item-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    .item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: radial-gradient(
        circle farthest-corner at center center,
        #343000 0%,
        #cbba00 100%
      );
      background: -webkit-radial-gradient(
        circle farthest-corner at center center,
        #343000 0%,
        #cbba00 100%
      );
      background: -moz-radial-gradient(
        circle farthest-corner at center center,
        #343000 0%,
        #cbba00 100%
      );
      width: 10rem;
      height: 10rem;
      border: 7px outset #343000;
      border-radius: 2rem;

      .item__price {
        color: #ffffff;
      }

      button {
        background-color: #238e00;
        color: #ffffff;
        cursor: pointer;
        border: 2px outset #32c700;
        border-radius: 5px;
        padding: 2px;
      }
    }
  }
}

.vendor-panel {
  position: absolute;
  right: 0;
  width: 45rem;
  animation: slideInRight 0.5s;
  background-color: #146aeb;

  .power {
    margin-left: auto;
    margin-right: 1rem;
  }

  .vendor-panel__item-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;

    .item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #ffffff;
      background: radial-gradient(
        circle farthest-corner at center center,
        #002153 0%,
        #0051cb 100%
      );
      background: -webkit-radial-gradient(
        circle farthest-corner at center center,
        #002153 0%,
        #0051cb 100%
      );
      background: -moz-radial-gradient(
        circle farthest-corner at center center,
        #002153 0%,
        #0051cb 100%
      );
      width: 10rem;
      height: 10rem;
      border: 7px outset #002153;
      border-radius: 2rem;

      button {
        background-color: #c58d00;
        color: #ffffff;
        cursor: pointer;
        border: 2px outset #ffb700;
        border-radius: 5px;
        padding: 2px;
      }
    }
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
