@use "@/styles/App.scss";
@use "@/styles/Panels.scss";
@use "@/styles/Dialogs.scss";
@use "@/styles/TabBtn.scss";
@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Bubblegum Sans", sans-serif;
}

body {
  overflow: hidden;
  background: linear-gradient(135deg, #0a0a0a, #1a1a1a);
  height: 100vh;
  margin: 0;
}

#root {
  height: 100vh;
  overflow: hidden;
}
